<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>글 내용</title>
</head>
<body>
<h2> 글 내용</h2>

<br>
<form th:action="updateAction" method="post">
    <table th:width="500" th:cellpadding="0" th:cellspacing="0" th:border="1">
        <input type="text" hidden="hidden" th:name="board_id" th:value="${board.board_id}"/>
        <tr>
            <td>번호</td>
            <td th:text="${board.board_id}"></td>            <!-- requestParam에서 board 라는 값을 받아서 board.board_id 출력) -->
        </tr>
        <tr>
            <td>조회수</td>
            <td th:text="${board.board_hit}"></td>
        </tr>
        <tr>
            <td>이름</td>
            <td><input th:type="text" th:name="board_name" th:value="${board.board_name}" th:size="50"/></td>
            <!--th:value 값에는 공백은 오류가난다 -->
        </tr>
        <tr>
            <td>제목</td>
            <td><input th:type="text" th:name="board_title" th:value="${board.board_title}" th:size="50"/></td>
        </tr>
        <tr>
            <td>내용</td>
            <td><textarea th:rows="10" th:cols="50" th:name="board_content" th:text="${board.board_content}"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                &nbsp;&nbsp;<input th:type="submit" value="글 수정">&nbsp;&nbsp;
                <a th:href="@{listForm}"><input th:type="button" value="목록보기"></a>
                <a th:href="@{/deleteAction(board_id=${board.board_id})}"><input th:type="button" value="삭제하기"></a>
            </td>
        </tr>
    </table>
</form>
<br>
    <form th:action="writeReplyAction" method="post">
        <table th:width="500" th:cellpadding="0" th:cellspacing="0" th:border="1">
            <tr>
                <td colspan="2">
                    <input th:type="text"  hidden="hidden" th:name="reply_board_id" th:value="${board.board_id}">
                    <label>댓글</label><textarea rows="2" cols="50" name="reply_content"></textarea><br>
                    <label>별명</label><input type="text" name="reply_name" value=""><br>
                    <input type="submit" value="댓글달기">
                </td>
            </tr>
        </table>
    </form>

<br>
<table th:width="500" th:cellpadding="0" th:cellspacing="0" th:border="1">
  <tr>
    <th>별명</th>
    <th>내용</th>
    <th>날짜</th>
    <th>삭제</th>
  </tr>

  <tr th:each="Reply : ${reply_list}" >
      <td th:text="${Reply.reply_name}"></td>
      <td th:text="${Reply.reply_content}"></td>
      <td th:text="${#dates.format(Reply.reply_date,'MM-dd-yy HH:mm')}"></td>
    <td><a th:href="@{/deleteReplyAction(reply_id=${Reply.reply_id})}"><button>삭제</button></a></td>
  </tr>
</table>
</body>
</html>